@import url('https://fonts.googleapis.com/css2?family=Kalam&family=Niconne&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Rye&display=swap');
*{
    margin: 0;
    padding: 0;
  }
  html{
    background-image: url(../img/imgdev.jpg);
    background-size:100%;

}
.btn{
  display: inline-block;
  width: 100px;
  border-color: gold;
  border-left-width: 0ex;
  border-right-width: 0ex;
  color: rgb(255, 255, 255);  
  background: linear-gradient(145deg, #020005, #584771);
  font-size:20px;
  pointer-events: stroke;
  text-align: center;
    margin-left: 1%;
    margin-top: 1.1%;
    font-family: 'Kalam', cursive;
    box-shadow:  12px 24px 65px #9c86bf;
}
.btn:hover{
  background: linear-gradient(145deg, #f6ee4e, #ffffff);
  color:black;

}

div.body{
  background-color:rgba(255, 255, 255, 0.94);
  box-shadow:  5px 5px 54px #fff704,
              -18px -4px 51px #ffffff;
  width: 19%;
  height: 250px;
  border-radius:50%;
  margin-left: 26%;
  margin-top: 6%;
}
img.mypic{
  width: 90%;
  height: 250px;
  border-radius:50%;
  margin-left: 5%;
}
.bd{
  display: flex;
  
}
span.Name{
  width: 27%;
  height: 18%;
  padding-left: 5%;
  padding-top: 0%;
  
}
span.name{
  color: white;
  margin-left: 10%;
  font-family: 'Rye', cursive;
  font-size:300%;
  width: 25%;
  height: 15%;
  text-shadow: 5px 5px 10px rgba(124, 1, 181, 0.628);
  padding-bottom: 100px;
}
p.name{
  padding-bottom: 12px;
  margin-left: 10%;
}
hr{
  color:#fff704
}
span.call{
  display: flex;
}


img.call{
  width: 10%;
  margin-top: 06%;
  margin-left: 28%;

}

img.whatsapp{
  width: 8%;
  margin-top: 06%;
  margin-left: 28%;

}
img.insta{
  width: 8%;
  margin-top: 06%;
  margin-left: 28%;
}

img.linkedin{
  width: 8%;
  margin-top: 06%;
  margin-left: 28%;

}
a.call{
  margin-left: 5%;
  text-decoration: none;
  color:#ffffff;
  margin-top: 08%;
  font-family: 'Kalam', cursive;
  font-size:110%;
}
a.call:hover{
  margin-top: 06%;
  margin-left:3%;
  font-size:150%;
}


@media only screen and  (max-width: 1000px){
  html{
      background-image: url(../img/imgdev.jpg);
      background-size: 1000px;

  }
  .btn{
    margin-left: 40%;
  
  }
 
  div.body{
    display: inline-block;
    width: 45%;
    height: 180px;
    border-radius: 50%;
    margin-left: 29%;
    margin-top:15%;
    box-shadow:  6px 6px 40px #fff704,
              -6px -6px 40px #ffffff;
    
  }
  
  img.mypic{
    width: 90%;
    height: 180px;
    border-radius:50%;
    margin-left: 5%;
    

  }
  .bd{
    display: block;
   
  }
  span.Name{
    width: 20%;
    height: 18%;
    margin-left: 20%;
    margin-right: 20%;
    
  }
  p.name{
    margin-left:19%;
    
  }
  img.call{
    width: 8%;
  }
  hr{
    color:#fff704
  }
}