@import url('https://fonts.googleapis.com/css2?family=Kalam&family=Niconne&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Rye&display=swap');
*{
    margin: 0;
    padding: 0;
  }
  html{
    background-image: url(../img/imgdev.jpg);
    background-size:100%;

}
.btn{
  display: inline-block;
  width: 100px;
  border-color: gold;
  border-left-width: 0ex;
  border-right-width: 0ex;
  color: rgb(255, 255, 255);  
  background: linear-gradient(145deg, #020005, #584771);
  font-size:20px;
  pointer-events: stroke;
  text-align: center;
    margin-left: 1%;
    margin-top: 1.1%;
    font-family: 'Kalam', cursive;
    box-shadow:  12px 24px 65px #9c86bf;
}
.btn:hover{
  background: linear-gradient(145deg, #f6ee4e, #ffffff);
  color:black;

}

div.body{
  background-color:rgba(255, 255, 255, 0.94);
  box-shadow:  9px 9px 54px #fff704,
              -24px -9px 51px #ffffff;
  width: 19%;
  height: 250px;
  border-radius:50%;
  margin-left: 18%;
}
img.mypic{
  width: 90%;
  height: 250px;
  border-radius:50%;
  margin-left: 5%;
}
.bd{
  display: flex;
  
}
span.name{
  color: white;
  margin-left: 10%;
  font-family: 'Rye', cursive;
  font-size:300%;
  width: 25%;
  height: 15%;
  text-shadow: 5px 5px 10px rgba(124, 1, 181, 0.628);
  padding-bottom: 100px;
}
p.name{
  padding-bottom: 12px;
  margin-left: 10%;
}
hr{
  color:#fff704
}

@media only screen and  (max-width: 1000px){
  html{
      background-image: url(../img/imgdev.jpg);
      background-size: 1000px;

  }
  .btn{
    margin-left: 40%;
  }
 
  div.body{
    display: inline-block;
    width: 45%;
    height: 180px;
    border-radius:50%;
    margin-left: 29%;
    margin-top:15%;
    box-shadow:  6px 6px 40px #fff704,
              -6px -6px 40px #ffffff;
    
  }
  
  img.mypic{
    width: 90%;
    height: 180px;
    border-radius:50%;
    margin-left: 5%;

  }
}