@import url('https://fonts.googleapis.com/css2?family=Kalam&family=Niconne&display=swap');
*{
    margin: 0;
    padding: 0;

}
html{
    background: linear-gradient(145deg, #020005, #584771);
    color:#ffffff;


}
nav{
    display:flex;
    height: 75px;
    padding-bottom: 60px;
    

}
.nav_left{
    width:10%;
    text-align:left;
    padding:0 23px;
    
}
.nav_right{
    width:50%;
    text-align:right;
    
}
.btn{
    height:40px;
    width:80px;
    margin:11px;
    color: rgb(255, 255, 255);
    border-radius: 42px;
    background: linear-gradient(145deg, #020005, #584771);
    box-shadow:  12px 24px 65px #030008,
                -24px -24px 51px #acacac;
    
    font-family: 'Niconne', cursive;
    font-size:20px;
    pointer-events: stroke;
}
.btn:hover{
    background: linear-gradient(145deg, #c2c2e2, #ffb9f1);
    color:black;
    cursor:wait;
}

h1.heading{
    text-align: center;
    margin-left: 35%;
    margin-top: 1.5%;
    font-family: 'Kalam', cursive;
    box-shadow:  12px 24px 65px #9c86bf;
    
}
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
div.lecture{
    width:90%;
    height:204px;
    margin-left:5%;
    margin-bottom: 2%;
    background-color:#ffffff;
}
p.lecture{
    color:#020005;
    margin-left:3%;
    font-size:20px;
    font-weight: bold;
    font-family: 'Righteous', cursive;

}
iframe{
    height:175px;
    width:98%;
}
iframe.ifsyll{
    margin-left: -2%;
    box-shadow:  12px 24px 65px #9c86bf;
    height:500px;
    width:100%;
    
}
div.dcpdcourse{
    margin-left: 8%;
    margin-right: 3%;
    margin-bottom: 10%;
    text-align: justify;
    font-family: 'Kalam', cursive;
    font-size:20px;
    
}

@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital@1&display=swap');
div.course{
    margin-left: 8%;
    margin-right: 8%;
    margin-bottom: 10%;
    text-align: justify;
    font-family: 'Kalam', cursive;
    font-size:20px;
    
}

strong{
    text-decoration: underline;
    margin-left:-3%;
    font-size:20px;
    font-family: 'Ubuntu Mono', monospace;
}
.btn1{
    height:40px;
    width:80px;
    margin:11px;
    color: rgb(255, 255, 255);  
    background: linear-gradient(145deg, #020005, #584771);
    box-shadow:  12px 24px 65px #030008,
                -10px -10px 51px #acacac;
    
    font-family: 'Kalam', cursive;
    font-size:20px;
    pointer-events: stroke;
}
.btn1:hover{
    background: linear-gradient(145deg, #f6ee4e, #ffb9f1);
    color:black;
    cursor:wait;
}
/* <a href=""><button class="btn1">  Exp 1</button></a> */

@media only screen and  (max-width: 1000px){

}